---
# 자원 요청만 사용하는 경우
kind: Pod
apiVersion: v1
metadata:
  name: nginx-pod-resources
spec:
  containers:
  - name: nginx-container
    image: nginx
    ports:
      - containerPort: 80
    resources:
      requests:
        cpu: 1
        memory: 500Mi
        